{% extends 'base.html' %}
{% block content %}
<style type="text/css">
select {

    /* styling */
    /*background-color: white;/
    /*border: thin solid green;*/
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;     
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* arrows */

select.classic {
    background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
    background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
    background-repeat: no-repeat;
}

select.classic:focus {
    background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
    background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

</style>
<div class="demoTable">
  <div class="layui-inline">
    <!-- <label class="layui-label">Select</label> -->
    <select  class="classic" id="key_or_cmd" >
      <option value="0" selected>KEY</option>
      <option value="1">CMD</option>
    </select>
  </div>
  <div class="layui-inline">
    <input class="layui-input" style="width: 500px" name="id" id="demoReload" placeholder="请在左侧选择后再输入KEY或命令信息" autocomplete="on">
  </div>
  <button class="layui-btn" data-type="reload">查找or执行</button>
  <div class="layui-inline">
	  <button class="layui-btn layui-btn-normal" data-type="addkey">新增</button>
  </div>
  <div class="layui-inline">
	  <button class="layui-btn layui-btn-danger" id="clear">清空DB</button>
  </div>
</div>
<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery.jsonview.min.css' %}">
{% endblock %}
{% block headerjs %}
<script src="{% static 'lay/modules/jquery.js' %}"></script>
<script>
var jQuery;
layui.use('jquery',function(){
jQuery=layui.jquery;
})
</script>
<script src="{% static 'js/jquery.jsonview.js' %}"></script>
{% endblock %}

<script>
layui.use('table', function(){
  var table = layui.table,
  localdata = layui.data('premission'),
	auth = localdata.{{ redis_name }},
    $ = layui.jquery;


  //方法级渲染
  table.render({
    elem: '#LAY_table_user'
    ,url: encodeURI('/get_key/{{ redis_name }}/{{ db_id }}/')
    ,cols: [[
      {checkbox: true, fixed: true}
      ,{field:'key', title: 'KEY_or_CMD_RESPONSE', width:1000,sort: true}
      ,{fixed:'right', width:260, align:'center', toolbar: '#barDemo'}
    ]]
    ,id: 'testReload'
    ,page: true
    ,height: 'full-180' //,height: 600
  });

  var $ = layui.$, active = {
    reload: function(){
      var demoReload = $('#demoReload');
      var demoValue = demoReload.val();
      if($('#key_or_cmd').val()==1)
        demoValue='$'+demoValue;
      table.reload('testReload', {
        where: {
          key: {
            id: demoValue
          }
        }
      });
    },
    addkey: function () {
        window.location.href=encodeURI("/add/key/{{ redis_name }}/?db={{ db_id }}")
    }
  };

  table.on('tool(user)', function(obj){
    var data = obj.data;
		{#    获取value   #}
    layer.load();
    if(obj.event === 'detail'){
        if(auth === 3 || auth === 2 || auth === 1) {
            //判断是否是命令结果
            isCmd=data.key.indexOf('{"cmd":')==0
            trueKey=""
            if(isCmd){
                keyObj=JSON.parse(data.key)
                keyObj['response']=""
                trueKey=JSON.stringify(keyObj)
            }else{
                trueKey=data.key
            }
            viewurl='/view/{{ redis_name }}/{{ db_id }}?key=' + encodeURIComponent(trueKey)
            $.ajax({
                url: viewurl,
                dataType: 'json',
                type: 'get',
                success: function (datas) {
                    layer.closeAll('loading');
                    layer.open({
                        title: 'KEY_or_CMD='+datas.data.key,
                        type: 1,
                        maxmin: true,
                        shadeClose: true,
                        shade: 0.8,
                        skin: 'layui-layer-rim',
                        area: ['800px'],
                        btn: '关闭',
                        content: '<div id="jsondetail"> \
                            <section class="panel" > \
                                <div class="panel-body"> \
                                    <input type="hidden" name="json_data" id="json_data" value="{{ json_data }}"/> \
                                    <div class="layui-btn-group"> \
                                    <button class="layui-btn" id="collapse-btn">折叠</button> \
                                    <button class="layui-btn" id="expand-btn">展开</button> \
                                    <button class="layui-btn" id="reverse-btn">反转</button> \
                                    <button class="layui-btn" id="raw-pretty-btn" >RAW-PRETTY</button> \
                                    <button class="layui-btn" id="raw-btn" >RAW-ORIG</button> \
                                    </div> \
                                    <button class="layui-btn layui-btn-normal" id="new-btn" style="position:absolute;right:200px">打开新窗口</button> \
                                    <hr class="layui-bg-gray">\
                                    <div id="json" style="height:500px;overflow:scroll"></div> \
                                </div> \
                            </section> \
                        </div>'
                    });
                    $("#new-btn").on('click',function(){
                        window.open(viewurl);
                    });
                    $("#raw-btn").on('click',function(){
                        $("#json").text(datas.data.value)
                    });
                    $("#raw-pretty-btn").on('click',function(){
                        $("#json").html("<pre>"+JSON.stringify(JSON.parse(datas.data.value),null,4)+"</pre>")
                    });
                    $("#json").JSONView(datas.data.value);
                    $('#collapse-btn').on('click', function() {
                        $("#json").JSONView(datas.data.value);
                        $('#json').JSONView('collapse');
                    });
                    $('#expand-btn').on('click', function() {
                        $("#json").JSONView(datas.data.value);
                        $('#json').JSONView('expand');
                    });
                    $('#reverse-btn').on('click', function() {
                        $("#json").JSONView(datas.data.value);
                        $('#json').JSONView('toggle');
                    });
                },
                error: function () {
                    layer.closeAll('loading');
                    layer.msg('请求错误!', {icon: 5})
                }
            });
        } else {
            layer.msg("您没有权限噢 😯");
            layer.closeAll('loading')
        }
    } else if(obj.event === 'del'){
      if(auth === 3) {
          layer.confirm('真的删除么?', {
              icon: 3,
              title: '提示',
              btn: ['确认', '取消']
          }, function (index) {
              var del_data = {
                  "redis_name": '{{ redis_name }}',
                  'db_id': {{ db_id }},
                  'key': data.key

              };
              $.ajax({
                  url: '/del/key/',
                  dataType: 'json',
                  type: 'post',
                  data: del_data,
                  success: function (del_datas) {
                      layer.closeAll('loading');
                      if (del_datas.code === 0) {
                          obj.del();
                          layer.msg(del_datas.msg)
                      }
                      else {
                          layer.msg(del_datas.msg)
                      }
                  },
                  error: function () {
                      layer.closeAll('loading');
                      layer.msg('请求错误', {icon: 5})
                  }
              });
              layer.close(index);
          }, function () {
              layer.closeAll('loading');
          });
      } else {
          layer.msg("您没有权限噢 😯");
		      layer.closeAll('loading')
      }
    } else if(obj.event === 'edit'){
        if(auth === 2) {
            window.location.href = "/edit/{{ redis_name }}/db{{ db_id }}?key=" + encodeURIComponent(data.key);
        } else if(auth === 3){
            window.location.href = "/edit/{{ redis_name }}/db{{ db_id }}?key=" + encodeURIComponent(data.key);
        } else {
            layer.msg("您没有权限噢 😯");
            layer.closeAll('loading')
        }
    } else if(obj.event === 'edit_ttl'){
        if(auth === 3 || auth === 2 || auth === 1) {
            $.ajax({
                url: '/view/{{ redis_name }}/{{ db_id }}?key=' + encodeURIComponent(data.key) + '&type=ttl',
                dataType: 'json',
                type: 'get',
                success: function (datas) {
                    layer.closeAll('loading');
                    layer.prompt({
                        title: "TTL",
                        formType: 0,
                        value: datas.data.value
                    }, function (value, index, elem) {
                        if(auth === 2||auth === 3) {
                            layer.load();
                            $.ajax({
                                url: '/view/{{ redis_name }}/{{ db_id }}/?type=ttl',
                                dataType: 'json',
                                type: 'post',
                                data: {'key':data.key,'ttl': value},
                                success: function (datas) {
                                    layer.closeAll('loading');
                                    layer.msg(datas.msg);
                                },
                                error: function () {
                                    layer.closeAll('loading');
                                    layer.msg('请求错误', {icon: 5})
                                }
                            });
                            layer.close(index);
                        } else {
                            layer.closeAll('loading');
                            layer.msg('您没有权限噢 😯')
                        }
                    });
                },
                error: function () {
                    layer.closeAll('loading');
                    layer.msg('请求错误!', {icon: 5})
                }
            });
        } else {
            layer.msg("您没有权限噢 😯");
            layer.closeAll('loading')
        }
    }
  });

  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
  $('#clear').on('click', function () {
      if (auth === 3) {
          layer.confirm('确定清空DB数据吗？', {
              btn: ['确定', '取消'] //按钮
          }, function () {
              $.ajax({
                  url: '/clear/db',
                  dataType: 'json',
                  type: 'post',
                  data: {'redis_name': '{{ redis_name }}', 'db_id': {{ db_id }}},
                  success: function (datas) {
                      layer.msg(datas.msg)
                  },
                  error: function () {
                      layer.msg('请求错误', {icon: 5})
                  }
              })
          });
      } else {
          layer.msg("您没有权限噢 😯");
          layer.closeAll('loading')
      }
  });
});

</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit_ttl">TTL</a>
  <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>
{% endblock %}


